
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Auction System</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Auction System</h1>
<p>Please enter your bid and click "Place Bid" within the next 30 seconds!</p>
<form action="/bid" method="post">
<div class="form-group">
<label for="bid_amount">Bid Amount</label>
<input type="number" class="form-control" id="bid_amount" name="bid_amount" required>
</div>
<div class="form-group">
<label for="time_remaining">Time Remaining (seconds)</label>
<input type="number" class="form-control" id="time_remaining" name="time_remaining" value="" readonly>
</div>
<button type="submit" class="btn btn-primary">Place Bid</button>
</form>
</div>
</div>
</div>

<script>
// Set the initial time remaining to 30 seconds.
var time_remaining = 30;

// Update the time remaining every second.
setInterval(function() {
time_remaining--;
$('#time_remaining').val(time_remaining);
}, 1000);
</script>
</body>
</html>


